aside{
    border-right: 2px solid var(--accent-color);
    padding: 1em;

    & h3{
        font-size: 1.2em;
    }

    & .searchbar{
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0.5em 0;
        border: 1px solid var(--accent-color);
        border-radius: 4em;
        height: 3em;
        width: 80%;
        background-color: white;
        padding: 0 1em;

        & input{
            border: none;
            height: 100%;
            width: 100%;
            outline: none;
            font-size: 1.2em;
        }
    }

    & h4{
        font-size: 1.1em;
        margin: 1em 0;
    }

    & ul {
        list-style: none;
        padding: 0;
        margin: 0;

        & li{
            margin: 0.5em 0;
            font-size: 1.1em;
            cursor: pointer;
        }
    }
}