
.section_settings_container{
    margin:10px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    width:calc(50% + 300px);
}
.settings_container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.btn_container{
    display: flex;
    justify-content: center;
}

.admin_head{
    width: 100%;
    position:relative;
    left:5vh;
}
.admin_info_row{
    gap:10px;
    justify-content: center;
    align-items: center;
    margin:10px;
}
.admins_list_container{
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 15em;
}

.admin_row_text > p{
    margin:5px 0;
}
