
.section_settings_container{
    margin:10px;
    background-color: var(--background-color);
    padding: 10px;
    border-radius: 10px;
    width:calc(50% + 300px);
}
.settings_container_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 20px;
}

.btn_container{
    display: flex;
    justify-content: center;
}
