.body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-section {
  margin: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;

  & > * {
    min-width: 0px;
  }
}


