.body {
  display: grid;
  grid-template-columns: 1fr 4fr;
}

.main-section {
  margin: 3em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em;

  & > * {
    min-width: 0px;
  }
}

article {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 0.5em;
  overflow: hidden;
  height: 100%;

  & img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 4/3;
    padding: 1em;
  }

  & .content {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    padding: 1em;

    & .info {
      padding: 1em;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      width: 100%;

      & span {
        font-size: large;
        font-weight: bold;
      }

      & p {
        font-size: small;
        color: var(--accent-color);

        &:hover {
          color: var(--tertiary-color);
        }
      }
    }

    & button {
      width: 30%;
      font-size: xx-large;
      padding: 1em;
      height: min-content;
      border: none;
      background-color: inherit;
      border-left: 1px solid var(--accent-color);

      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
