h1{
    padding:10px;
}

.customers_header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.orders_header .create_order--button{
    background-color: red;
    color:white;
    font-size: 13px;
    text-decoration: none;
    text-transform: uppercase;
    padding: 7px 15px;
    border-radius: 10px;
}

.orders_recap{
    display: flex;
    justify-content: center;
}

.text_count{
    font-weight: bold;
    font-size: 15px;
}

.orders_container{
    margin-top: 30px;
}
.orders_filters{
    margin: 10px;
    display: flex;
    justify-content: space-between;
}
.orders_list{
    margin:10px;
}

.orders > table{
    width: 100%;
}

.table_header_orders{
    background-color: black;
    color:white;
}

.tg {
    border-collapse:collapse;
    border-spacing:0;
}
    
.tg td{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;

}
.tg th{
    border-color:black;
    border-style:solid;
    border-width:1px;
    font-family:Arial, sans-serif;
    font-size:14px;
    font-weight:normal;
    overflow:hidden;
    padding:10px 5px;
    word-break:normal;

}
.tg .tg-ycr8{
    text-align:center;
    vertical-align:top;
}
.tg .tg-0lax{
    text-align:left;
    vertical-align:top;
}