nav{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5em;
    & img{
        width: 10em;
    }
    & ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        & li{
            padding: 1em 2em;
            &:hover{
                color: #6f8a8b;
                border-bottom: 1px solid #6f8a8b;
            }
            & a{
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

