nav{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3em;
    background-color: white;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    & img{
        width: 10em;
    }

    & .searchbar{
        border: 1px solid var(--secondary-color);
        border-radius: 2em;
        padding: .5em 1em;
        display: flex;
        align-items: center;
        justify-content: space-between;

        & input{
            border: none;
            outline: none;
            padding: 0.5em 1em;
            border-radius: 2em;
            width: 20em;
            font-size: 1em;
        }

        & .search-icon{
            color: var(--secondary-color);
            font-size: 1.5em;

            &:hover{
                cursor: pointer;
                color: var(--accent-color);
            }
        }
    }

    & ul{
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        & li{
            padding: 1em 2em;
            &:hover{
                color: var(--secondary-color);
                border-bottom: 1px solid var(--secondary-color);
            }
            & a{
                text-decoration: none;
                color: inherit;
            }
        }
    }
}

