@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
    --primary-color: #708090;
    --secondary-color: #C0C0C0;
    --tertiary-color: #2F4F4F;
    --accent-color: #4682B4;
}

body {
    background-color: var(--secondary-color);
}