@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #EAF4F4;
    font-family: 'Roboto', 'sans-serif';
    /* --bgcolor: red; */
}